# Arquivos de configuração virtualenv
.venv/

# Arquivos de configuração de ambiente
.env

# Arquivos de cache do Django
*.log
*__pycache__/
*.pyc
db.sqlite3
migrations/

# Se estiver usando o sistema de armazenamento de arquivos local do Django para uploads:
media/
